.appTitle  {
  margin-top: 60px;
  font-family: "Oswald";
  text-align: left;
}

.appContent {
  font-family: "Oswald";
}

.channelLogo{
  max-width: 100px;
}

.listElements{
  background-color: #DDD;
  list-style: none;
}
.streamList{
  padding: 0;
  margin: 0;
}

.creditsText{
  font-family: "Oswald";
}
