.appTitle  {
	margin-top: 60px;
	font-family: "Oswald";
}

.appContent {
	font-family: "Oswald";
}

.channelLogo{
	position: relative;
	max-width: 100px;
	border-style: solid;
	border-color: #262626;
	border-width: 1px;
	left: 10px;
	top: -5px;
	float: left;
	pointer-events: none;
	-webkit-box-shadow: 3px 3px 0 0 #262626;
	-moz-box-shadow: 3px 3px 0 0 #262626;
	box-shadow: 3px 3px 0 0 #262626;
	background-color: white;
}
.channelLogo:hover{
	pointer-events: none;
}
.channelName{
	font-size: 36px;
	position: relative;
	left: 25px;
	top: -23px;
	text-shadow: 1px 1px 0 #262626;
}

a:link, a:active, a:hover, a:visited{
	color: #6441A5;
	text-decoration: none;
}

a:click{
	background-color: #6441A5;
}

.channelStatus{
	position: relative;
	color: #262626;
	left: 25px;
	bottom: -11px;
}

.listElements{
	list-style: none;
	border-radius: 0;
	background-color: #F1F1F1;
	border-style: none;
}
.listElements:hover{
	background-color: #B9A3E3;
}
.streamList{
	padding: 0;
	margin: 0;
}
.well{
	border-style: solid;
	border-width: 5px;
	border-right: none;
	border-top: none;
	border-bottom: none;
	-webkit-box-shadow: 5px 5px 0 0 #262626;
	-moz-box-shadow: 5px 5px 0 0 #262626;
	box-shadow: 5px 5px 0 0 #262626;
}
.creditsText{
	font-family: "Oswald";
	color: #F1F1F1;
	margin-bottom: 50px;
	margin-right: 10px;
	text-align: right;
}

.page-header{
	font-size: 72px;
	color: #F1F1F1;
	border-bottom: 0;
	text-shadow: 5px 5px 0 #262626;
	float: left;
}

body{
	background-color: #6441A5;
}

.progress-bar{
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	background: #B9A3E3;
}

.user-offline{
	border-color: red;
}

.user-online{
	border-color: green;
}

.user-not-found{
	border-color: gray;
}

.btn-default{
	float: right;
	height: 30px;
	border-style: solid;
	border-width: 2px;
	border-radius: 0;
}
.statusButtons{
	position: absolute;
	bottom: 20px;
	right: 16px;
}

.online-btn{
	border-color: green;
}
.online-btn.active{

}

.offline-btn{
	border-color: red;
}

.not-found-btn{
	border-color: grey;
}
